<img src="<%= @recipe.photo.url %>" class="rounded mx-auto d-block" width=50% alt="<%= @recipe.title %>">
<h1><%= @recipe.title %> </h1>
<% if @recipe.fields[:tags] != nil %>
    Tags:
    <% @recipe.tags.each do |tag| %>
        <span class="badge bg-primary"><%= tag.name %></span>
    <% end %>
    <br>
<% end %>
 <hr class="my-4">
<h2>Description</h2>
<%= MarkdownHelper.parse(@recipe.description) %>
<% if @recipe.fields[:chef] != nil %>
    <b>Chef: <%= @recipe.chef.name %></b>
<% end %>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="/" class="btn btn-secondary">Back</a>
</div>